<h1>Editing Book</h1>

<% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= form_with model:@book, url:"/books/#{@book.id}", local:true do |f| %>
  <div class="field">
      <%= f.label :title, "Title" %>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :boby, "Body" %>
      <%= f.text_area :body %>
    </div>
  <div class="actions"><%= f.submit 'Update Book' %></div>

 <%= link_to "Show", book_path %>
  |
  <%= link_to "Back", '/books' %>
    

<% end %>